
.headerFooter {
    background-color: #114b69 !important;;
    color: #ffffff !important;
}

.headerFooter a {
     color:#ff6401 !important;
}


.link {
    color:#ffffff !important;   
    
}

.btnHeader {
    background-color:#ff6401;
    color:#ffffff;    
}

#map {
    height:370px;
    width:100%;
}
div.gm-style-iw {
    max-height:115px;
    overflow-y:auto;
}
